@model IEnumerable<Presentation.Models.ViewModels.ListFlightsViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Departure Date</th>
                <th scope="col">Departure From</th>
                <th scope="col">Arrival Date</th>
                <th scope="col">Arrival to</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(f => f.DepartureDate >= DateTime.Today))
            {
                <tr onclick="window.location.href='Home/Seats?flightId=@item.Id'">
                    <td>@item.DepartureDate</td>
                    <td>@item.CountryFrom</td>
                    <td>@item.ArrivalDate</td>
                    <td>@item.CountryTo</td>
                    <td>@((@item.WholesalePrice * (1 + @item.CommisionRate)) + @item.WholesalePrice)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
